{% extends "base.html" %}

{% block content %}
<div class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Blood Bank</h1>
                <p>Donate Blood, Save Lives.</p>
            </div>
        </div>
    </div>
</div>
<div class="overview">
    <div class="container-fluid" >
        <div class="container">
            <div class="row">
                <h3 class="text-center fs-bold mt-5" style="font-weight: bold">Overview of Blood Groups</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-item mt-4">
                        <div class="f-icon">
                            <span><i class="fa" aria-hidden="true">A+</i></span>
                        </div>
                        <h5>A strong ally for A+ and AB+ blood </h5>
                        <div class="info">
                          <ol>
                            <li>Antigen: A</li>
                            <li>Rh factor: Present</li>
                            <li>Can Donate To: A+, AB+</li>
                            <li>Can Receive From: A+, A-, O+, O-</li>
                          </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item mt-4">
                      <div class="f-icon">
                          <span><i class="fa" aria-hidden="true">A-</i></span>
                      </div>
                      <h5>A rare helper for A and AB types</h5>
                      <div class="info">
                        <ol>
                          <li>Antigen: A</li>
                          <li>Rh factor: Absent</li>
                          <li>Can Donate To: A+, A-, AB+, AB-</li>
                          <li>Can Receive From: A-, O-</li>
                        </ol>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="feature-item mt-4">
                    <div class="f-icon">
                        <span><i class="fa" aria-hidden="true">B+</i></span>
                    </div>
                    <h5>B type enriched with Rh positivity</h5>
                    <div class="info">
                      <ol>
                        <li>Antigen: B</li>
                        <li>Rh factor: Present</li>
                        <li>Can Donate To: B+, AB+</li>
                        <li>Can Receive From: B+, B-, O+, O-</li>
                      </ol>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                  <div class="feature-item mt-4">
                      <div class="f-icon">
                          <span><i class="fa" aria-hidden="true">B-</i></span>
                      </div>
                      <h5>A rare champion for B and AB groups</h5>
                      <div class="info">
                        <ol>
                          <li>Antigen: B</li>
                          <li>Rh factor: Absent</li>
                          <li>Can Donate To: B+, B-, AB+, AB-</li>
                          <li>Can Receive From: B-, O-</li>
                        </ol>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="feature-item mt-4">
                    <div class="f-icon">
                        <span><i class="fa" aria-hidden="true">AB+</i></span>
                    </div>
                    <h5>The universal receiver</h5>
                    <div class="info">
                      <ol>
                        <li>Antigen: A and B</li>
                        <li>Rh factor: Present</li>
                        <li>Can Donate To: AB+ (Universal Plasma Donor)</li>
                        <li>Can Receive From: All types (Universal Recipient)</li>
                      </ol>
                    </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="feature-item mt-4">
                    <div class="f-icon">
                        <span><i class="fa" aria-hidden="true">AB-</i></span>
                    </div>
                    <h5>The rarest of them all</h5>
                    <div class="info">
                      <ol> 
                        <li>Antigen: A and B</li>
                        <li>Rh factor: Absent</li>
                        <li>Can Donate To: AB+, AB-</li>
                        <li>Can Receive From: A-, B-, AB-, O-</li>
                      </ol>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                  <div class="feature-item mt-4">
                      <div class="f-icon">
                          <span><i class="fa" aria-hidden="true">O+</i></span>
                      </div>
                      <h5>The lifeline for all positives </h5>
                      <div class="info">
                        <ol>
                          <li>Antigen: None</li>
                          <li>Rh factor: Present</li>
                          <li>Can Donate To: O+, A+, B+, AB+</li>
                          <li>Can Receive From: O+, O-</li>
                        </ol>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="feature-item mt-4">
                    <div class="f-icon">
                        <span><i class="fa" aria-hidden="true">O-</i></span>
                    </div>
                    <h5>The universal donor</h5>
                    <div class="info">
                      <ol>
                        <li>Antigen: None</li>
                        <li>Rh factor: Absent</li>
                        <li>Can Donate To: All groups (Universal Donor)</li>
                        <li>Can Receive From: O-</li>
                      </ol>
                    </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
          </div>
        </div>
    </div>
</div>
{% endblock  %}